.graph{
	border: 1px solid #dfdedc;
	margin-top: 5px;
	margin: 0 auto;
	width:947px;
	height:305px;
	padding: 1px 1px 1px 1px;

}
.Problem{
	border: 1px solid #dfdedc;
	margin-top: 5px;
	margin: 0 auto;
	width:947px;
	height:120px;
	padding: 1px 1px 1px 1px;

}

.graphTable{
	border: 1px solid #dfdedc;
	margin-left: 1px;
	top: 558px;
	width:385px;
	height:462px;
	padding: 1px 1px 1px 1px;

}

.kcontentControla1 {
    width: 950px;
    border: 1px solid #dfdedc;
    margin: 0 auto;
    margin-top:10px;
    background: #fff;
    min-height: 1000px;

    padding: 12px 20px 20px 20px;
    overflow: hidden;
    font-size: 14px;
}

.algraphTable{
	border: 1px solid #dfdedc;
	width:940px;
	min-height:240px;
	padding: 10px 5px 10px 5px;
}

.highchart{
	border: 1px solid #dfdedc;
	padding: 5px 1px 1px 1px;
	overflow: auto;
	width:948px;
	min-height:400px;
}

.text2{
	width:60px;	
	 border-radius:3px; 
	 margin-left:10px;
	 color:#2e2e2e; 
	 font-size:14px; 
	 padding-left:10px; 
	 height:30px;
	 line-height:30px\9;
}

.text2:hover{
	border:1px solid #1F7CAF;
}

.text2:active{
	border:1px solid #5bb3e1;
}
.text2:focus{
	border:1px solid #5bb3e1;
}
input::-ms-input-placeholder{
    color:#C8C8C8;
}
input::-webkit-input-placeholder{
    color:#C8C8C8;
}
input::-moz-placeholder {
    color:    #C8C8C8;
}

.text1{
	width:120px;	
	 border-radius:3px; 
	 color:#2e2e2e; 
	 font-size:14px; 
	 padding-left:10px; 
	 margin-left:10px;
	 height:30px;
	 line-height:30px\9;
}

.text1:hover{
	border:1px solid #1F7CAF;
}

.text1:active{
	border:1px solid #5bb3e1;
}
.text1:focus{
	border:1px solid #5bb3e1;
}

.alg_btna1{
	display:inline-block; 
	background:#39A4DC; 
	width:120px; 
	height:33px; 
	display:inline-block; 
	text-align:center; 
	font-size:14px; 
	line-height:33px; 
	vertical-align:middle; 
	overflow:hidden; 
	border-radius:3px; 
	border:1px;
	margin-left:10px;
    color:white;
}
.alg_btna1:hover{ 
	background:#1F7CAF;
	cursor: pointer;
	color:#ff0;
}
.alg_btna1:active{ 
	background:#5bb3e1;
	cursor: pointer;
	color:#ff0;
}

.algWord_kboxwrap {
	background: #000;
	border-radius:3px;
	z-index: 9;
	opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	position: absolute;
	top: 0px;
	left: 20px;
	width:530px;
	height:50px;
}


