@charset "utf-8";

/*login.css*/

.fl{ float:left;}
.fr{ float:right;}
.fc{ float:center;}

#wrap{text-align:left;}
em,i,cite,s{font-style:normal;}
strong,b{font-weight:bold;}
.faa{ font-family:Arial, Helvetica, sans-serif;}
.faw{ font-family:"微软雅黑";}
input, textarea,select{vertical-align:middle;}
table{border-collapse:collapse;}
.fixed { display: block; min-height: 1%; }
.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
*html .fixed { height:auto; }
.mauto{margin:0 auto;}
.tr{text-align:right;}
.tc{text-align:center;}
.tl{text-align:left;}
.lh23{line-height:23px;}
.bred{border:1px solid red}
.ft10{font-size:10px;}
.ft12{font-size:12px;}
.ft14{font-size:14px;}
.ft15{font-size:15px;}
.ft16{font-size:16px ;}
.ft18{font-size:18px ;}
.main{width:1004px;overflow:hidden; _zoom:1;margin:0 auto;}
.main-box{ width:100%;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.mb5{margin-bottom:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt5{padding-top:5px;}
.pt15{padding-top:15px;}
.pl20{ padding-left:20px;}
.pl5{ padding-left:5px;}
.mr5{ margin-right:5px;}

.col1{color:#23c781 !important;}
.col2{ color:#ff0000 !important;}
.col3{ color:#333 !important;}
.col6{ color:#666 !important;}
.col9{ color:#999;}
.col4{ color:#f33939 !important;}
.none{ display:none;}
.fb{ font-weight:bold;}
.mt_10{ margin-top:-5px;}
/*20141110 add hkjan*/
.find_pwd{ background:#fff;}
.find_pwd_title{ height:40px;background:#1bb674;}
.find_pwd_title h3{ width:70%; margin:0 auto;
    display:block;
    height:40px;
    line-height:40px;
    color:#fff;
    font-size:14px;
    font-weight:bold;
}
.find_pwd_tag{ background:url(../images/find_pwd_tag.png) no-repeat  top left; width:394px; height:30px; margin:20px 0;}
.find_pwd-tag{ background:url(../images/find_pwd_tag.png) no-repeat left -30px; width:394px; height:30px; margin:20px 0;}
.find_pwd_tag3{ background:url(../images/find_pwd_tag.png) no-repeat  bottom left; width:394px; height:30px; margin:20px 0;}


.find_pwd_cont{ width:395px; margin:60px auto 0; overflow:visible;}
.find_pwd_cont .tip{ color:#6d6d6d; height:30px;}
.find_pwd_cont .text1{ margin-top:20px;width:318px;border:1px solid #d4d4d4; border-radius:3px; color:#2e2e2e; font-size:14px; padding-left:10px; height:30px;line-height:30px\9;}
.find_pwd_cont .text2{ margin-top:20px;width:170px;border:1px solid #d4d4d4; border-radius:3px; color:#2e2e2e; font-size:14px; padding-left:10px;height:30px; line-height:30px\9;}
.find_pwd_cont .text1:hover,.find_pwd_cont .text2:hover{border:1px solid #1bb674;}




input::-ms-input-placeholder{
    color:#C8C8C8;
}
input::-webkit-input-placeholder{
    color:#C8C8C8;
}
input::-moz-placeholder {
    color:    #C8C8C8;
}
.yellow_button2 span{ background:url(../images/button_yellow2.png) no-repeat bottom; display:inline-block; height:32px; line-height:32px; font-family:"微软雅黑";color:#fff; width:136px; display:inline-block; text-align:center;}
.yellow_button3 span{ background:url(../images/button_yellow2.png) no-repeat left -32px; display:inline-block; height:32px; line-height:32px; font-family:"微软雅黑";color:#fff; width:136px; display:inline-block; text-align:center;cursor: default}
.yellow_button2:hover span{background-position:top;}

.find_pwd_btn{display:inline-block; background:#1bb674; width:330px; height:30px; display:inline-block; text-align:center; font-size:14px; line-height:30px; overflow:hidden; border-radius:3px; }
.find_pwd_btn:hover{ background:#20c981;color:#fff; }
.find_pwd_btn:active{ background:#19a569;color:#fff;}


/*20141114 add hjkan*/
.notice{ color: #FF2F2F;height: 25px; line-height:25px; margin-top:3px;}


/*20141114 addv hjkan 首页登录头尾*/
.tk_login_kheadwarp{ background:#fff; height:60px; width:100%;}

.tk_login_khead{ width:70%; margin:0 auto;height:60px; }


.tk_login_kfoot{ 
	height:40px; 
	line-height:40px; 
	background:#fff; 
	text-align:center; 
	font-size:12px; 
	color:#505050; 
	width:100%; 
	border-top:1px 
	solid #dcdcdc;
}



/*20141125 addhkan*/
.pwd_right{ background:url(../images/rw.png) no-repeat left -5px; width:20px; height:30px; margin-top:20px; margin-left:10px;}

.pwd_wrong{background:url(../images/rw.png) no-repeat left -54px; width:20px; height:30px; margin-top:20px; margin-left:10px;}
.yzma{ width:80px; height:30px; overflow:hidden; text-align:center;}

.find_pwd_bottom{ border-top:1px dashed #e2e2e2; margin-top:70px; padding-top:7px; padding-bottom:30px;}
.find_pwd_bottom p{width:70%; line-height:23px;color: #FF2F2F; margin:0 auto;}

.message{ width:394px; color:#333; line-height:29px;}


/*20141201 add hjkan*/
.pr{ position:relative; width:800px;}
.pwd_rtip1{ position:absolute; z-index:999; left:338px; top:24px;}
.pwd_rtip2{ position:absolute; z-index:999; left:273px; top:24px;}
.pwd_rtip em{ height:24px;background:url(../images/rtip.png) no-repeat left; width:7px; display:inline-block; float:left;}
.pwd_rtip span{ height:24px;background:url(../images/rtipy.png) repeat-x; padding:0 3px 0 5px; display:inline-block; float:left; line-height:24px; color:#ff2f2f;}
.pwd_rtip i{ height:24px;background:url(../images/rtip.png) no-repeat right; width:3px; display:inline-block; float:left;}
